*{
margin:0;
padding:0;
box-sizing:border-box;
font-family:'Poppins',sans-serif;
}

body{
background:#f7f9f8;
}

.navbar{
display:flex;
justify-content:space-between;
align-items:center;
padding:20px 8%;
background:#2e7d32;
color:#fff;
}

.nav-links{
display:flex;
list-style:none;
gap:30px;
}

.nav-links a{
color:white;
text-decoration:none;
}

.hero{
height:90vh;
display:flex;
justify-content:center;
align-items:center;
text-align:center;
background:linear-gradient(rgba(0,0,0,.4),rgba(0,0,0,.4)),
url('https://images.unsplash.com/photo-1542838132-92c53300491e');
background-size:cover;
color:white;
}

.hero h1{
font-size:3.5rem;
margin-bottom:20px;
}

.btn{
background:#4caf50;
padding:15px 35px;
border-radius:50px;
color:white;
text-decoration:none;
display:inline-block;
margin-top:20px;
}

.categories,
.products,
.offers,
.why-us,
.reviews,
.newsletter{
padding:80px 8%;
text-align:center;
}

.category-grid,
.product-grid,
.offer-grid,
.why-grid{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
gap:25px;
margin-top:40px;
}

.category-card,
.offer-card,
.review-card,
.why-grid div{
background:white;
padding:30px;
border-radius:15px;
box-shadow: 0 4px 10px green;
}

.product-card{
background:white;
padding:20px;
border-radius:15px;
box-shadow:0 5px 15px rgba(0,0,0,.1);
transition:.3s;
}

.product-card:hover{
transform:translateY(-10px);
}

.product-card img{
    width:100%;
    height:220px;
    object-fit:cover;
    border-radius:10px;
}

.product-card{
    background:#fff;
    padding:15px;
    border-radius:15px;
    box-shadow:0 4px 12px rgba(0,0,0,0.1);
    text-align:center;
    transition:0.3s;
}

.product-card:hover{
    transform:translateY(-8px);
}

.product-card h3{
margin:15px 0;
}

.product-card button{
background:#2e7d32;
color:white;
border:none;
padding:12px 25px;
border-radius:8px;
cursor:pointer;
}

.newsletter input{
padding:15px;
width:300px;
border:1px solid #ddd;
border-radius:10px;
}

.newsletter button{
padding:15px 25px;
background:#2e7d32;
color:white;
border:none;
border-radius:10px;
margin-left:10px;
}

footer{
background:#1b5e20;
color:white;
padding:50px 8%;
}

.footer-container{
display:grid;
grid-template-columns:repeat(auto-fit,minmax(220px,1fr));
gap:30px;
}

footer h3{
margin-bottom:15px;
}

.copyright{
text-align:center;
margin-top:30px;
}